flows.json
[
    {
        "id": "8c5bfdbc4f9572a9",
        "type": "tab",
        "label": "pgtests",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f4d873b0b812eae0",
        "type": "tab",
        "label": "api v0",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "770198485702d3f6",
        "type": "group",
        "z": "f4d873b0b812eae0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5fb9a027c4bd5887",
            "16c68debb45c94bf",
            "c45cf15dec2ccee0",
            "70fca0387ce63b4f",
            "85515b30229bc9f1",
            "ddf3e6b20ba8f18e",
            "d75614fdea85dfe6",
            "4ff675905985ef5f",
            "d001464022ffab24",
            "668a4beab3021c0f"
        ],
        "x": 94,
        "y": 3439,
        "w": 932,
        "h": 342
    },
    {
        "id": "a29859a2bed78358",
        "type": "group",
        "z": "f4d873b0b812eae0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "66b34c382c9a6cb7",
            "63cb3e5c8b49543c",
            "c5ae5140a88cd75c",
            "85a3865c88a43ddd",
            "8c8d7f95ff43a34a",
            "338d808e7591fe50",
            "3423c2eb0800e670",
            "40fe0b06d09c8ea5",
            "5d6ca08716e06d68",
            "d137d62327e4d3af",
            "a6b75dca055de4b3",
            "5accdb55d3f80d0f",
            "aae0afe5d2db34c3",
            "40ef1f779b5acd1c",
            "379128977e12cac7",
            "08512de010ac1e22"
        ],
        "x": 14,
        "y": 2499,
        "w": 2192,
        "h": 362
    },
    {
        "id": "d14552beed5e2b55",
        "type": "group",
        "z": "f4d873b0b812eae0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8004d2171cc9288b",
            "54b6a4466a4282a2",
            "1cfc9514c0e9461a",
            "caab7b4c5a606821",
            "6f1b5d5adb6e67f3",
            "81b56cbb43091fa9",
            "f67b445ab4df9f70",
            "1472aad9298a2c68",
            "83c71db97a388757",
            "9a6d92229f3dcd11"
        ],
        "x": 34,
        "y": 3099,
        "w": 1492,
        "h": 262
    },
    {
        "id": "b138b301e43db445",
        "type": "group",
        "z": "f4d873b0b812eae0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e3fe73e75550a61b",
            "c5274de72d28de23",
            "b4ca3769025dcd27",
            "4f29c3e47cec1d39",
            "4c221ae0d8dd230d",
            "d5b2929ef780a004",
            "d5863ee92f3f2502",
            "dddcb50a860b179f",
            "748d2c04bd15077d",
            "43cf83ba5a442156",
            "bba6d52e29261bc3",
            "2611e4ad935990f2",
            "b2e4b9f70fd39e1b",
            "499f6b3b9af6007e",
            "e9c894830395f1b2",
            "abab57ca978d3268"
        ],
        "x": 14,
        "y": 2139,
        "w": 2132,
        "h": 282
    },
    {
        "id": "85d9c313f2c2b597",
        "type": "group",
        "z": "f4d873b0b812eae0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0221385a42323bb5",
            "5da93b7a66402b95",
            "f4505b82633168d5",
            "57feb3bff7a24dc3",
            "79bcaef258ce3084",
            "996406ae3945948d",
            "3e0a3b3c9bb677ca",
            "37610f9155cbe4ce",
            "38c3b8c2ace412b3",
            "7ff0d7df1c98cfc0",
            "a9acce9c1c0f07c4",
            "59e7eb9203f9a348",
            "6ad93ef8b6f34bc5",
            "963377c648dba080",
            "4170909f05e163e1",
            "e1970c372c418e9a",
            "32739983a174178d"
        ],
        "x": 8.199996948242188,
        "y": 1322,
        "w": 1317.8000030517578,
        "h": 399
    },
    {
        "id": "9440ce2d9caba630",
        "type": "group",
        "z": "f4d873b0b812eae0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3958c61244d0030b",
            "3742cb90dd47dc47",
            "fc5e818e6a4e3dfe",
            "91c517ee5b135557",
            "24da1d29f9bacdbf",
            "47cb131eefeee2dd",
            "855b79714e2586c8",
            "f2e1ea1a5c7715b3",
            "541673c062238a0f",
            "862f999b57a92b5c",
            "46337a976850cd14",
            "edb7ce944e2b5784",
            "04f35c0d4040e8df"
        ],
        "x": 14,
        "y": 1779,
        "w": 1252,
        "h": 322
    },
    {
        "id": "c77d9d86f5902982",
        "type": "group",
        "z": "f4d873b0b812eae0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4bca0616f6187b3c",
            "cdb8c1f8c904db2f",
            "cb0ab6f627f1ddbd",
            "fb8a058eb6f32afa",
            "9dee953bc26f8607"
        ],
        "x": 134,
        "y": 3859,
        "w": 652,
        "h": 182
    },
    {
        "id": "b99abc8b8a150111",
        "type": "group",
        "z": "f4d873b0b812eae0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "bcdf473aac563260",
            "8b5093c34a136883",
            "cce0eca506818720",
            "719b64a0945a4e67"
        ],
        "x": 34,
        "y": 19,
        "w": 772,
        "h": 122
    },
    {
        "id": "aec6b1a3860cd43b",
        "type": "group",
        "z": "f4d873b0b812eae0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3bd63028b430b31a",
            "32c1436f5209a287",
            "df5d5c19a1441018",
            "44bb90750742ce6f",
            "ed24fac67518cf1b",
            "f0cda64411f7159b",
            "af6b9273edec5888"
        ],
        "x": 34,
        "y": 159,
        "w": 952,
        "h": 182
    },
    {
        "id": "3266456808f0fa63",
        "type": "group",
        "z": "f4d873b0b812eae0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0170976da4023610",
            "8554f866544c0131",
            "7f3581da6c0c12e4",
            "c57813dc7bc76502",
            "3b3dd53631dced59",
            "e6e283e70f38a571",
            "a279dcf28ba5eecb",
            "335dcfb8d70b05b5",
            "19183e140e48f2c0",
            "dd342322cacfc8be",
            "2507e47378670e7d",
            "728890327aafac55",
            "e329473d6273dd62",
            "a3bf79f5aefc6d6f",
            "a241fd6bba54abde",
            "e2ba8a52b0ae7bf2",
            "99f5b35762b882b4",
            "63774e5a9ce0dfed",
            "b92cecd366fc8fb6",
            "80c95579c07b65ce",
            "426089d0246349cd",
            "68f81b44f9338624",
            "84ee21c237acd63e",
            "6bd444d83cf3ac18",
            "7b4c21a07f3c720d",
            "658d4a509404312f",
            "fb072bb253a7c587",
            "73bdd3336bc8a754",
            "7eaf82d36414d9a6"
        ],
        "x": 34,
        "y": 379,
        "w": 1052,
        "h": 802
    },
    {
        "id": "791792950f41a2f5",
        "type": "group",
        "z": "f4d873b0b812eae0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b762a07cf0f3a51f",
            "989f8bc0e9aabd2b",
            "b2847e5597719393",
            "70ab926af706c3a6",
            "fbec2cee5821fb86",
            "87b58bd6f20f616d",
            "6d8eebea5de7ec7f",
            "0e8d06b159344be1",
            "24c656fd75613096",
            "f141e28b443bb5cb",
            "db971e2c079b8132",
            "a1be40cf0200746e",
            "bc41d946cc617c3d",
            "81daa8683479d8bd",
            "a392d03c45d02c26",
            "5353fcb42534f11a",
            "152349ba5b9c7cfd",
            "c98321dd4bc8a5cf",
            "7c258d9c6ea6ad8c"
        ],
        "x": 14,
        "y": 4079,
        "w": 1472,
        "h": 422
    },
    {
        "id": "9fde22277546daea",
        "type": "group",
        "z": "f4d873b0b812eae0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "560f13629071b47d",
            "7864ae143fde24b0",
            "109b2146f6963611",
            "f4e030a82d3b7b43",
            "1cf986c8638bc01c",
            "2e57bed0155b9c85",
            "8954893af7013448",
            "92e00a0e909245dc",
            "40c0dbacc8143961",
            "bb87ec2e3eb7c484",
            "55e53dce00a095c3",
            "b4c648053472688d",
            "e428d2fed69181fd",
            "20dc12b3b2816907",
            "fb472ed44da93ddf",
            "1a1ba2d11cb8f522",
            "447ddc37213b7348",
            "10c026e2378608ae",
            "466e77fbd6a0b6c0"
        ],
        "x": 34,
        "y": 4559,
        "w": 1472,
        "h": 422
    },
    {
        "id": "c4677d21e66c9306",
        "type": "group",
        "z": "f4d873b0b812eae0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9d53bfeeda301696",
            "65c509c699bcf721",
            "c5bc2fd77e2d4db8",
            "498dcb18809c0925",
            "62df4f69d275ba2b",
            "1b5777a4f71d0df2",
            "59b8cab82caa3d1d",
            "4f656690db03992b",
            "4f23499b6067107e",
            "f025d839ff7f765c",
            "a4e79d404ff9387f",
            "282bbb13d75cbbc1",
            "97f105e5ccc0f36d",
            "ba6e8e8a63020a41",
            "5e4d228d8725e136",
            "cc389747e6362254",
            "d15a5a03066c8cc2",
            "b7cb983250eab1fc",
            "97b6d1d289bab0f8"
        ],
        "x": 34,
        "y": 5019,
        "w": 1472,
        "h": 422
    },
    {
        "id": "9aa2b7aadce40c59",
        "type": "group",
        "z": "f4d873b0b812eae0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "683165cc9e70a3fa",
            "964d2f3da6e8cbe3",
            "67d5ebb335e81652",
            "e587be5ff722b301",
            "319625a1916aa67f",
            "b1709131c4fc0a1e",
            "ccd8e941ad172389",
            "b589d75b14413cef",
            "8ec547db6f309913",
            "35407123777a81c9",
            "8ebae5ed1444f572",
            "d4c26f156aa88694",
            "b4bd3fe235f11838",
            "846bd42cdd9b48e5",
            "4bcf0274651ca172",
            "cd522d732fda6fa3",
            "e1c22ade76d0fe6e",
            "8e68a4af9fccf03c",
            "caa599ba6801db3d"
        ],
        "x": 34,
        "y": 5519,
        "w": 1512,
        "h": 422
    },
    {
        "id": "3c6b3935308742a0",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "pgbouncer",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "hacker",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "hacker",
        "userFieldType": "str",
        "password": "megahack123",
        "passwordFieldType": "str"
    },
    {
        "id": "cd755bb7d6dec2d4",
        "type": "postgresql",
        "z": "8c5bfdbc4f9572a9",
        "name": "list schemas",
        "query": "select distinct schemaname from pg_catalog.pg_tables;",
        "postgreSQLConfig": "3c6b3935308742a0",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "4c97a43acbf8bc3e"
            ]
        ]
    },
    {
        "id": "3c424ce635ec5445",
        "type": "inject",
        "z": "8c5bfdbc4f9572a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "cd755bb7d6dec2d4"
            ]
        ]
    },
    {
        "id": "4c97a43acbf8bc3e",
        "type": "debug",
        "z": "8c5bfdbc4f9572a9",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "69310e1da87dcd44",
        "type": "postgresql",
        "z": "8c5bfdbc4f9572a9",
        "name": "create schema",
        "query": "create schema if not exists beep_boop;",
        "postgreSQLConfig": "3c6b3935308742a0",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 520,
        "y": 280,
        "wires": [
            [
                "b05fafefbe053cb8"
            ]
        ]
    },
    {
        "id": "b05fafefbe053cb8",
        "type": "debug",
        "z": "8c5bfdbc4f9572a9",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 280,
        "wires": []
    },
    {
        "id": "97c6c7c21100c28b",
        "type": "inject",
        "z": "8c5bfdbc4f9572a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 280,
        "wires": [
            [
                "69310e1da87dcd44"
            ]
        ]
    },
    {
        "id": "608ff1af7e150471",
        "type": "postgresql",
        "z": "8c5bfdbc4f9572a9",
        "name": "list schemas 2",
        "query": "select * from pg_catalog.pg_namespace;",
        "postgreSQLConfig": "3c6b3935308742a0",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 540,
        "y": 380,
        "wires": [
            [
                "8b36ec1c0a504966"
            ]
        ]
    },
    {
        "id": "78bb794870691b70",
        "type": "inject",
        "z": "8c5bfdbc4f9572a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 380,
        "wires": [
            [
                "608ff1af7e150471"
            ]
        ]
    },
    {
        "id": "8b36ec1c0a504966",
        "type": "debug",
        "z": "8c5bfdbc4f9572a9",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "d17d5164df6e3c38",
        "type": "postgresql",
        "z": "8c5bfdbc4f9572a9",
        "name": "select",
        "query": "SELECT * FROM surance.test;",
        "postgreSQLConfig": "3c6b3935308742a0",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 490,
        "y": 100,
        "wires": [
            [
                "1abf2e6a39eb26b9"
            ]
        ]
    },
    {
        "id": "0949b59d080a786b",
        "type": "inject",
        "z": "8c5bfdbc4f9572a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 100,
        "wires": [
            [
                "d17d5164df6e3c38"
            ]
        ]
    },
    {
        "id": "1abf2e6a39eb26b9",
        "type": "debug",
        "z": "8c5bfdbc4f9572a9",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "19a44420c6dc1c68",
        "type": "postgresql",
        "z": "8c5bfdbc4f9572a9",
        "name": "create table",
        "query": "CREATE TABLE public.newmewtable (\n\tid int8 GENERATED ALWAYS AS IDENTITY( INCREMENT BY 1 MINVALUE 1 MAXVALUE 9223372036854775807 START 1 CACHE 1 NO CYCLE) NOT NULL,\n\t\"text\" varchar NOT NULL\n);\n\ncommit;",
        "postgreSQLConfig": "3c6b3935308742a0",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 550,
        "y": 480,
        "wires": [
            [
                "7cc8a65f0854f1d8"
            ]
        ]
    },
    {
        "id": "85e71b7bb4abf9a4",
        "type": "inject",
        "z": "8c5bfdbc4f9572a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 480,
        "wires": [
            [
                "19a44420c6dc1c68"
            ]
        ]
    },
    {
        "id": "7cc8a65f0854f1d8",
        "type": "debug",
        "z": "8c5bfdbc4f9572a9",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 480,
        "wires": []
    },
    {
        "id": "4d51c11538aaf41b",
        "type": "postgresql",
        "z": "8c5bfdbc4f9572a9",
        "name": "select",
        "query": "SELECT * FROM test;",
        "postgreSQLConfig": "3c6b3935308742a0",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 530,
        "y": 560,
        "wires": [
            [
                "6b4d3071b37a762e"
            ]
        ]
    },
    {
        "id": "528a2691f5895e1a",
        "type": "inject",
        "z": "8c5bfdbc4f9572a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 560,
        "wires": [
            [
                "4d51c11538aaf41b"
            ]
        ]
    },
    {
        "id": "6b4d3071b37a762e",
        "type": "debug",
        "z": "8c5bfdbc4f9572a9",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 560,
        "wires": []
    },
    {
        "id": "ee8c58526013f675",
        "type": "postgresql",
        "z": "8c5bfdbc4f9572a9",
        "name": "insert",
        "query": "insert into newtable (text) values ('heeeey there') ;\n\ncommit;",
        "postgreSQLConfig": "3c6b3935308742a0",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 530,
        "y": 660,
        "wires": [
            [
                "4f0d6b3b8bd4f92b"
            ]
        ]
    },
    {
        "id": "24f5035e9216c3a3",
        "type": "inject",
        "z": "8c5bfdbc4f9572a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 660,
        "wires": [
            [
                "ee8c58526013f675"
            ]
        ]
    },
    {
        "id": "4f0d6b3b8bd4f92b",
        "type": "debug",
        "z": "8c5bfdbc4f9572a9",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 660,
        "wires": []
    },
    {
        "id": "0a01339cb22392ce",
        "type": "postgresql",
        "z": "8c5bfdbc4f9572a9",
        "name": "select",
        "query": "select * from public.newtable;",
        "postgreSQLConfig": "3c6b3935308742a0",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 530,
        "y": 760,
        "wires": [
            [
                "81f12374480f4add"
            ]
        ]
    },
    {
        "id": "19ca8edc364d4795",
        "type": "inject",
        "z": "8c5bfdbc4f9572a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 760,
        "wires": [
            [
                "0a01339cb22392ce"
            ]
        ]
    },
    {
        "id": "81f12374480f4add",
        "type": "debug",
        "z": "8c5bfdbc4f9572a9",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 760,
        "wires": []
    },
    {
        "id": "bcdf473aac563260",
        "type": "function",
        "z": "f4d873b0b812eae0",
        "g": "b99abc8b8a150111",
        "name": "sayhi",
        "func": "msg.payload = \"hhheeeey!\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 100,
        "wires": [
            [
                "cce0eca506818720"
            ]
        ]
    },
    {
        "id": "8b5093c34a136883",
        "type": "http in",
        "z": "f4d873b0b812eae0",
        "g": "b99abc8b8a150111",
        "name": "",
        "url": "/api/v0/sayhi",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "bcdf473aac563260"
            ]
        ]
    },
    {
        "id": "cce0eca506818720",
        "type": "http response",
        "z": "f4d873b0b812eae0",
        "g": "b99abc8b8a150111",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "3bd63028b430b31a",
        "type": "http request",
        "z": "f4d873b0b812eae0",
        "g": "aec6b1a3860cd43b",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://strcms:1337/api/testcollections/{{{documentid}}}?populate=*",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 240,
        "wires": [
            [
                "ed24fac67518cf1b",
                "f0cda64411f7159b"
            ]
        ]
    },
    {
        "id": "32c1436f5209a287",
        "type": "inject",
        "z": "f4d873b0b812eae0",
        "g": "aec6b1a3860cd43b",
        "name": "",
        "props": [
            {
                "p": "documentid",
                "v": "zudcusplie59yyhd8soz7kma",
                "vt": "str"
            },
            {
                "p": "headers",
                "v": "{\"Authorization\":\"Bearer 4dcb84483969c6d09f73d6cf1a3ad6405f788f7547f7ddb51b2c66504cfd535a6523da6aa9c2afc6e1184478db888aefd7418acdfe756bca96d325522c42a0314399f240ffff100dc464f45429bf512a0c016dadefd008566c58bf1289e42ac75bad46419f6f17f748bdc417cc2a4584db2bcb351d24eab5e71525d144eac220\"}",
                "vt": "json"
            },
            {
                "p": "payload.populate",
                "v": "*",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "44bb90750742ce6f",
                "3bd63028b430b31a"
            ]
        ]
    },
    {
        "id": "df5d5c19a1441018",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "aec6b1a3860cd43b",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 240,
        "wires": []
    },
    {
        "id": "44bb90750742ce6f",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "aec6b1a3860cd43b",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "ed24fac67518cf1b",
        "type": "json",
        "z": "f4d873b0b812eae0",
        "g": "aec6b1a3860cd43b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 710,
        "y": 240,
        "wires": [
            [
                "df5d5c19a1441018"
            ]
        ]
    },
    {
        "id": "f0cda64411f7159b",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "aec6b1a3860cd43b",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 300,
        "wires": []
    },
    {
        "id": "0170976da4023610",
        "type": "http in",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "",
        "url": "/api/v0/showtest",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "a279dcf28ba5eecb",
                "19183e140e48f2c0"
            ]
        ]
    },
    {
        "id": "8554f866544c0131",
        "type": "http response",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 480,
        "wires": []
    },
    {
        "id": "7f3581da6c0c12e4",
        "type": "http request",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://strcmsv4:1337/api/products?populate=*",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 480,
        "wires": [
            [
                "c57813dc7bc76502",
                "dd342322cacfc8be"
            ]
        ]
    },
    {
        "id": "c57813dc7bc76502",
        "type": "json",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 790,
        "y": 480,
        "wires": [
            [
                "8554f866544c0131",
                "3b3dd53631dced59"
            ]
        ]
    },
    {
        "id": "3b3dd53631dced59",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 540,
        "wires": []
    },
    {
        "id": "e6e283e70f38a571",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 560,
        "wires": []
    },
    {
        "id": "a279dcf28ba5eecb",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 540,
        "wires": []
    },
    {
        "id": "335dcfb8d70b05b5",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "add bearer token v5",
        "rules": [
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "Bearer 4dcb84483969c6d09f73d6cf1a3ad6405f788f7547f7ddb51b2c66504cfd535a6523da6aa9c2afc6e1184478db888aefd7418acdfe756bca96d325522c42a0314399f240ffff100dc464f45429bf512a0c016dadefd008566c58bf1289e42ac75bad46419f6f17f748bdc417cc2a4584db2bcb351d24eab5e71525d144eac220",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "19183e140e48f2c0",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "add bearer token v4",
        "rules": [
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "Bearer 696afb45ca89e2f06e9e6b6017408199b48698c52ba6d00bc9dee6f202c57b02ec7fdb5c8b208791b73b2939b0f7605f7cc220b435f7f6d35c64d5b842e05239842f66cd884e1a7d7afc99eafeb88c0f43b7c804f3967f94af719b4edfa21315448f31da729dffbd711572baa78a6b682448d96d51ecdceb45b73ea6c827f177",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 480,
        "wires": [
            [
                "7f3581da6c0c12e4",
                "e6e283e70f38a571"
            ]
        ]
    },
    {
        "id": "dd342322cacfc8be",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 580,
        "wires": []
    },
    {
        "id": "2507e47378670e7d",
        "type": "http in",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "",
        "url": "/api/v0/showtest/:productid",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 700,
        "wires": [
            [
                "728890327aafac55"
            ]
        ]
    },
    {
        "id": "728890327aafac55",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "add bearer token v4",
        "rules": [
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "Bearer 696afb45ca89e2f06e9e6b6017408199b48698c52ba6d00bc9dee6f202c57b02ec7fdb5c8b208791b73b2939b0f7605f7cc220b435f7f6d35c64d5b842e05239842f66cd884e1a7d7afc99eafeb88c0f43b7c804f3967f94af719b4edfa21315448f31da729dffbd711572baa78a6b682448d96d51ecdceb45b73ea6c827f177",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 700,
        "wires": [
            [
                "a3bf79f5aefc6d6f"
            ]
        ]
    },
    {
        "id": "e329473d6273dd62",
        "type": "http request",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://strcmsv4:1337/api/products/{{{productId}}}?populate=*",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 700,
        "wires": [
            [
                "a241fd6bba54abde",
                "63774e5a9ce0dfed"
            ]
        ]
    },
    {
        "id": "a3bf79f5aefc6d6f",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "productId",
                "pt": "msg",
                "to": "req.params.productid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 780,
        "wires": [
            [
                "e329473d6273dd62",
                "99f5b35762b882b4"
            ]
        ]
    },
    {
        "id": "a241fd6bba54abde",
        "type": "json",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 870,
        "y": 700,
        "wires": [
            [
                "e2ba8a52b0ae7bf2"
            ]
        ]
    },
    {
        "id": "e2ba8a52b0ae7bf2",
        "type": "http response",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 700,
        "wires": []
    },
    {
        "id": "99f5b35762b882b4",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 800,
        "wires": []
    },
    {
        "id": "63774e5a9ce0dfed",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 800,
        "wires": []
    },
    {
        "id": "b92cecd366fc8fb6",
        "type": "http request",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://strcmsv4:1337/api/products?populate=*",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 900,
        "wires": [
            [
                "68f81b44f9338624"
            ]
        ]
    },
    {
        "id": "80c95579c07b65ce",
        "type": "inject",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 900,
        "wires": [
            [
                "426089d0246349cd"
            ]
        ]
    },
    {
        "id": "426089d0246349cd",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "add bearer token v4",
        "rules": [
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "Bearer 696afb45ca89e2f06e9e6b6017408199b48698c52ba6d00bc9dee6f202c57b02ec7fdb5c8b208791b73b2939b0f7605f7cc220b435f7f6d35c64d5b842e05239842f66cd884e1a7d7afc99eafeb88c0f43b7c804f3967f94af719b4edfa21315448f31da729dffbd711572baa78a6b682448d96d51ecdceb45b73ea6c827f177",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 900,
        "wires": [
            [
                "b92cecd366fc8fb6"
            ]
        ]
    },
    {
        "id": "68f81b44f9338624",
        "type": "json",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 890,
        "y": 900,
        "wires": [
            [
                "84ee21c237acd63e"
            ]
        ]
    },
    {
        "id": "84ee21c237acd63e",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 980,
        "wires": []
    },
    {
        "id": "6bd444d83cf3ac18",
        "type": "http request",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://strcmsv4:1337/api/users?populate=*",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 1060,
        "wires": [
            [
                "7b4c21a07f3c720d"
            ]
        ]
    },
    {
        "id": "7b4c21a07f3c720d",
        "type": "json",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 890,
        "y": 1060,
        "wires": [
            [
                "658d4a509404312f"
            ]
        ]
    },
    {
        "id": "658d4a509404312f",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1140,
        "wires": []
    },
    {
        "id": "fb072bb253a7c587",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "add bearer token v4",
        "rules": [
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "Bearer 696afb45ca89e2f06e9e6b6017408199b48698c52ba6d00bc9dee6f202c57b02ec7fdb5c8b208791b73b2939b0f7605f7cc220b435f7f6d35c64d5b842e05239842f66cd884e1a7d7afc99eafeb88c0f43b7c804f3967f94af719b4edfa21315448f31da729dffbd711572baa78a6b682448d96d51ecdceb45b73ea6c827f177",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1060,
        "wires": [
            [
                "6bd444d83cf3ac18"
            ]
        ]
    },
    {
        "id": "73bdd3336bc8a754",
        "type": "inject",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 1060,
        "wires": [
            [
                "fb072bb253a7c587"
            ]
        ]
    },
    {
        "id": "0221385a42323bb5",
        "type": "http in",
        "z": "f4d873b0b812eae0",
        "g": "85d9c313f2c2b597",
        "name": "",
        "url": "/api/v0/cms-orders",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 1480,
        "wires": [
            [
                "57feb3bff7a24dc3",
                "38c3b8c2ace412b3"
            ]
        ]
    },
    {
        "id": "5da93b7a66402b95",
        "type": "http response",
        "z": "f4d873b0b812eae0",
        "g": "85d9c313f2c2b597",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1250,
        "y": 1620,
        "wires": []
    },
    {
        "id": "f4505b82633168d5",
        "type": "http request",
        "z": "f4d873b0b812eae0",
        "g": "85d9c313f2c2b597",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://strcmsv4:1337/api/orders{{{queryString}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 1500,
        "wires": [
            [
                "79bcaef258ce3084",
                "7ff0d7df1c98cfc0"
            ]
        ]
    },
    {
        "id": "57feb3bff7a24dc3",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "85d9c313f2c2b597",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 140,
        "y": 1540,
        "wires": []
    },
    {
        "id": "79bcaef258ce3084",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "85d9c313f2c2b597",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 1400,
        "wires": []
    },
    {
        "id": "996406ae3945948d",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "85d9c313f2c2b597",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 1680,
        "wires": []
    },
    {
        "id": "3e0a3b3c9bb677ca",
        "type": "json",
        "z": "f4d873b0b812eae0",
        "g": "85d9c313f2c2b597",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 790,
        "y": 1580,
        "wires": [
            [
                "e1970c372c418e9a",
                "32739983a174178d"
            ]
        ]
    },
    {
        "id": "37610f9155cbe4ce",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "85d9c313f2c2b597",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1680,
        "wires": []
    },
    {
        "id": "38c3b8c2ace412b3",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "85d9c313f2c2b597",
        "name": "save original request in msg envelope",
        "rules": [
            {
                "t": "set",
                "p": "requestId",
                "pt": "msg",
                "to": "_msgid",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "original_req",
                "pt": "msg",
                "to": "req",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.authorization",
                "pt": "msg",
                "to": "req.headers.authorization",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1480,
        "wires": [
            [
                "6ad93ef8b6f34bc5"
            ]
        ]
    },
    {
        "id": "7ff0d7df1c98cfc0",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "85d9c313f2c2b597",
        "name": "restore original request from msg envelope",
        "rules": [
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "original_req",
                "pt": "msg",
                "to": "req",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "contentType",
                "pt": "msg",
                "to": "headers[\"content-type\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 1540,
        "wires": [
            [
                "3e0a3b3c9bb677ca"
            ]
        ]
    },
    {
        "id": "af6b9273edec5888",
        "type": "comment",
        "z": "f4d873b0b812eae0",
        "g": "aec6b1a3860cd43b",
        "name": "expreiments with Strapi 5",
        "info": "",
        "x": 170,
        "y": 200,
        "wires": []
    },
    {
        "id": "7eaf82d36414d9a6",
        "type": "comment",
        "z": "f4d873b0b812eae0",
        "g": "3266456808f0fa63",
        "name": "expreiments with Strapi 4",
        "info": "",
        "x": 170,
        "y": 420,
        "wires": []
    },
    {
        "id": "a9acce9c1c0f07c4",
        "type": "comment",
        "z": "f4d873b0b812eae0",
        "g": "85d9c313f2c2b597",
        "name": "Get orders  ( Strapi 4 )",
        "info": "",
        "x": 134.1999969482422,
        "y": 1363,
        "wires": []
    },
    {
        "id": "3958c61244d0030b",
        "type": "http in",
        "z": "f4d873b0b812eae0",
        "g": "9440ce2d9caba630",
        "name": "",
        "url": "/api/v0/cms-orders/:orderid",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1860,
        "wires": [
            [
                "3742cb90dd47dc47"
            ]
        ]
    },
    {
        "id": "3742cb90dd47dc47",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "9440ce2d9caba630",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "orderId",
                "pt": "msg",
                "to": "req.params.orderid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1860,
        "wires": [
            [
                "04f35c0d4040e8df"
            ]
        ]
    },
    {
        "id": "fc5e818e6a4e3dfe",
        "type": "http response",
        "z": "f4d873b0b812eae0",
        "g": "9440ce2d9caba630",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1190,
        "y": 2020,
        "wires": []
    },
    {
        "id": "91c517ee5b135557",
        "type": "http request",
        "z": "f4d873b0b812eae0",
        "g": "9440ce2d9caba630",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://strcmsv4:1337/api/orders{{{queryString}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 950,
        "y": 1860,
        "wires": [
            [
                "24da1d29f9bacdbf",
                "862f999b57a92b5c"
            ]
        ]
    },
    {
        "id": "24da1d29f9bacdbf",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "9440ce2d9caba630",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 1900,
        "wires": []
    },
    {
        "id": "47cb131eefeee2dd",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "9440ce2d9caba630",
        "name": "debug 25",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 2040,
        "wires": []
    },
    {
        "id": "855b79714e2586c8",
        "type": "json",
        "z": "f4d873b0b812eae0",
        "g": "9440ce2d9caba630",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 970,
        "y": 2020,
        "wires": [
            [
                "f2e1ea1a5c7715b3",
                "fc5e818e6a4e3dfe"
            ]
        ]
    },
    {
        "id": "f2e1ea1a5c7715b3",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "9440ce2d9caba630",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 2060,
        "wires": []
    },
    {
        "id": "59e7eb9203f9a348",
        "type": "comment",
        "z": "f4d873b0b812eae0",
        "g": "85d9c313f2c2b597",
        "name": "Get all orders",
        "info": "",
        "x": 150,
        "y": 1420,
        "wires": []
    },
    {
        "id": "541673c062238a0f",
        "type": "comment",
        "z": "f4d873b0b812eae0",
        "g": "9440ce2d9caba630",
        "name": "Get order by id",
        "info": "",
        "x": 160,
        "y": 1820,
        "wires": []
    },
    {
        "id": "862f999b57a92b5c",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "9440ce2d9caba630",
        "name": "restore original request from msg envelope",
        "rules": [
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "original_req",
                "pt": "msg",
                "to": "req",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "contentType",
                "pt": "msg",
                "to": "headers[\"content-type\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1960,
        "wires": [
            [
                "855b79714e2586c8"
            ]
        ]
    },
    {
        "id": "6ad93ef8b6f34bc5",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "85d9c313f2c2b597",
        "name": "drop payload",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1520,
        "wires": [
            [
                "963377c648dba080"
            ]
        ]
    },
    {
        "id": "46337a976850cd14",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "9440ce2d9caba630",
        "name": "drop payload",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 1940,
        "wires": [
            [
                "edb7ce944e2b5784"
            ]
        ]
    },
    {
        "id": "963377c648dba080",
        "type": "function",
        "z": "f4d873b0b812eae0",
        "g": "85d9c313f2c2b597",
        "name": "set url query string",
        "func": "const baseUrlStr = \"/api/v0/cms-orders\";\n\nlet urlStr = msg.original_req.url;\nlet queryString = urlStr.substring(\n    urlStr.indexOf(baseUrlStr)\n    +\n    baseUrlStr.length + 1\n);\n\nmsg.queryString = \"?populate[owner][populate][0]=id\" + queryString;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1560,
        "wires": [
            [
                "4170909f05e163e1"
            ]
        ]
    },
    {
        "id": "edb7ce944e2b5784",
        "type": "function",
        "z": "f4d873b0b812eae0",
        "g": "9440ce2d9caba630",
        "name": "set url query string",
        "func": "const baseUrlStr = \"/api/v0/cms-orders\";\n\nlet urlStr = msg.original_req.url;\nlet queryString = urlStr.substring(\n    urlStr.indexOf(baseUrlStr)\n    +\n    baseUrlStr.length\n);\n\nmsg.queryString = queryString;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1980,
        "wires": [
            [
                "91c517ee5b135557",
                "47cb131eefeee2dd"
            ]
        ]
    },
    {
        "id": "04f35c0d4040e8df",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "9440ce2d9caba630",
        "name": "save original request in msg envelope",
        "rules": [
            {
                "t": "set",
                "p": "requestId",
                "pt": "msg",
                "to": "_msgid",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "original_req",
                "pt": "msg",
                "to": "req",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.authorization",
                "pt": "msg",
                "to": "req.headers.authorization",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1900,
        "wires": [
            [
                "46337a976850cd14"
            ]
        ]
    },
    {
        "id": "e3fe73e75550a61b",
        "type": "http in",
        "z": "f4d873b0b812eae0",
        "g": "b138b301e43db445",
        "name": "",
        "url": "/api/v0/cms-orders",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 2260,
        "wires": [
            [
                "b4ca3769025dcd27",
                "43cf83ba5a442156"
            ]
        ]
    },
    {
        "id": "c5274de72d28de23",
        "type": "comment",
        "z": "f4d873b0b812eae0",
        "g": "b138b301e43db445",
        "name": "Post new order",
        "info": "",
        "x": 140,
        "y": 2180,
        "wires": []
    },
    {
        "id": "b4ca3769025dcd27",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "b138b301e43db445",
        "name": "save original request in msg envelope",
        "rules": [
            {
                "t": "set",
                "p": "requestId",
                "pt": "msg",
                "to": "_msgid",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "original_req",
                "pt": "msg",
                "to": "req",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.authorization",
                "pt": "msg",
                "to": "req.headers.authorization",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 2260,
        "wires": [
            [
                "bba6d52e29261bc3"
            ]
        ]
    },
    {
        "id": "4f29c3e47cec1d39",
        "type": "http request",
        "z": "f4d873b0b812eae0",
        "g": "b138b301e43db445",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://strcmsv4:1337/api/orders",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 2260,
        "wires": [
            [
                "4c221ae0d8dd230d"
            ]
        ]
    },
    {
        "id": "4c221ae0d8dd230d",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "b138b301e43db445",
        "name": "restore original request from msg envelope",
        "rules": [
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "original_req",
                "pt": "msg",
                "to": "req",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "contentType",
                "pt": "msg",
                "to": "headers[\"content-type\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 2260,
        "wires": [
            [
                "dddcb50a860b179f",
                "2611e4ad935990f2"
            ]
        ]
    },
    {
        "id": "d5b2929ef780a004",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "b138b301e43db445",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 2380,
        "wires": []
    },
    {
        "id": "d5863ee92f3f2502",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "b138b301e43db445",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 2340,
        "wires": []
    },
    {
        "id": "dddcb50a860b179f",
        "type": "json",
        "z": "f4d873b0b812eae0",
        "g": "b138b301e43db445",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 990,
        "y": 2300,
        "wires": [
            [
                "d5863ee92f3f2502",
                "748d2c04bd15077d"
            ]
        ]
    },
    {
        "id": "748d2c04bd15077d",
        "type": "http response",
        "z": "f4d873b0b812eae0",
        "g": "b138b301e43db445",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1370,
        "y": 2300,
        "wires": []
    },
    {
        "id": "8004d2171cc9288b",
        "type": "http in",
        "z": "f4d873b0b812eae0",
        "g": "d14552beed5e2b55",
        "name": "",
        "url": "/api/v0/cms-orders/:orderid",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 3200,
        "wires": [
            [
                "caab7b4c5a606821"
            ]
        ]
    },
    {
        "id": "54b6a4466a4282a2",
        "type": "comment",
        "z": "f4d873b0b812eae0",
        "g": "d14552beed5e2b55",
        "name": "Delete order by id",
        "info": "",
        "x": 150,
        "y": 3140,
        "wires": []
    },
    {
        "id": "1cfc9514c0e9461a",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "d14552beed5e2b55",
        "name": "save original request in msg envelope",
        "rules": [
            {
                "t": "set",
                "p": "requestId",
                "pt": "msg",
                "to": "_msgid",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "original_req",
                "pt": "msg",
                "to": "req",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.authorization",
                "pt": "msg",
                "to": "req.headers.authorization",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 3260,
        "wires": [
            [
                "6f1b5d5adb6e67f3",
                "81b56cbb43091fa9"
            ]
        ]
    },
    {
        "id": "caab7b4c5a606821",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "d14552beed5e2b55",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "orderId",
                "pt": "msg",
                "to": "req.params.orderid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 3200,
        "wires": [
            [
                "1cfc9514c0e9461a"
            ]
        ]
    },
    {
        "id": "6f1b5d5adb6e67f3",
        "type": "http request",
        "z": "f4d873b0b812eae0",
        "g": "d14552beed5e2b55",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://strcmsv4:1337/api/orders/{{{orderId}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 870,
        "y": 3260,
        "wires": [
            [
                "f67b445ab4df9f70"
            ]
        ]
    },
    {
        "id": "81b56cbb43091fa9",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "d14552beed5e2b55",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 3320,
        "wires": []
    },
    {
        "id": "f67b445ab4df9f70",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "d14552beed5e2b55",
        "name": "restore original request from msg envelope",
        "rules": [
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "original_req",
                "pt": "msg",
                "to": "req",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "contentType",
                "pt": "msg",
                "to": "headers[\"content-type\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 3220,
        "wires": [
            [
                "1472aad9298a2c68"
            ]
        ]
    },
    {
        "id": "1472aad9298a2c68",
        "type": "json",
        "z": "f4d873b0b812eae0",
        "g": "d14552beed5e2b55",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1070,
        "y": 3260,
        "wires": [
            [
                "9a6d92229f3dcd11",
                "83c71db97a388757"
            ]
        ]
    },
    {
        "id": "83c71db97a388757",
        "type": "http response",
        "z": "f4d873b0b812eae0",
        "g": "d14552beed5e2b55",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1450,
        "y": 3260,
        "wires": []
    },
    {
        "id": "9a6d92229f3dcd11",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "d14552beed5e2b55",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 3300,
        "wires": []
    },
    {
        "id": "66b34c382c9a6cb7",
        "type": "comment",
        "z": "f4d873b0b812eae0",
        "g": "a29859a2bed78358",
        "name": "Update order by id",
        "info": "",
        "x": 150,
        "y": 2540,
        "wires": []
    },
    {
        "id": "63cb3e5c8b49543c",
        "type": "http in",
        "z": "f4d873b0b812eae0",
        "g": "a29859a2bed78358",
        "name": "",
        "url": "/api/v0/cms-orders/:orderid",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 2620,
        "wires": [
            [
                "c5ae5140a88cd75c",
                "d137d62327e4d3af"
            ]
        ]
    },
    {
        "id": "c5ae5140a88cd75c",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "a29859a2bed78358",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "orderId",
                "pt": "msg",
                "to": "req.params.orderid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 2620,
        "wires": [
            [
                "85a3865c88a43ddd"
            ]
        ]
    },
    {
        "id": "85a3865c88a43ddd",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "a29859a2bed78358",
        "name": "save original request in msg envelope",
        "rules": [
            {
                "t": "set",
                "p": "requestId",
                "pt": "msg",
                "to": "_msgid",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "original_req",
                "pt": "msg",
                "to": "req",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.authorization",
                "pt": "msg",
                "to": "req.headers.authorization",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 2660,
        "wires": [
            [
                "5accdb55d3f80d0f"
            ]
        ]
    },
    {
        "id": "8c8d7f95ff43a34a",
        "type": "http request",
        "z": "f4d873b0b812eae0",
        "g": "a29859a2bed78358",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://strcmsv4:1337/api/orders/{{{orderId}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 870,
        "y": 2620,
        "wires": [
            [
                "338d808e7591fe50"
            ]
        ]
    },
    {
        "id": "338d808e7591fe50",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "a29859a2bed78358",
        "name": "restore original request from msg envelope",
        "rules": [
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "original_req",
                "pt": "msg",
                "to": "req",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "contentType",
                "pt": "msg",
                "to": "headers[\"content-type\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 2620,
        "wires": [
            [
                "3423c2eb0800e670",
                "aae0afe5d2db34c3"
            ]
        ]
    },
    {
        "id": "3423c2eb0800e670",
        "type": "json",
        "z": "f4d873b0b812eae0",
        "g": "a29859a2bed78358",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1070,
        "y": 2660,
        "wires": [
            [
                "5d6ca08716e06d68",
                "40fe0b06d09c8ea5"
            ]
        ]
    },
    {
        "id": "40fe0b06d09c8ea5",
        "type": "http response",
        "z": "f4d873b0b812eae0",
        "g": "a29859a2bed78358",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1450,
        "y": 2660,
        "wires": []
    },
    {
        "id": "5d6ca08716e06d68",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "a29859a2bed78358",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 2700,
        "wires": []
    },
    {
        "id": "43cf83ba5a442156",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "b138b301e43db445",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 2180,
        "wires": []
    },
    {
        "id": "d137d62327e4d3af",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "a29859a2bed78358",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 2800,
        "wires": []
    },
    {
        "id": "a6b75dca055de4b3",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "a29859a2bed78358",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 2820,
        "wires": []
    },
    {
        "id": "5fb9a027c4bd5887",
        "type": "inject",
        "z": "f4d873b0b812eae0",
        "g": "770198485702d3f6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 3540,
        "wires": [
            []
        ]
    },
    {
        "id": "16c68debb45c94bf",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "770198485702d3f6",
        "name": "add bearer token v4",
        "rules": [
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "Bearer 696afb45ca89e2f06e9e6b6017408199b48698c52ba6d00bc9dee6f202c57b02ec7fdb5c8b208791b73b2939b0f7605f7cc220b435f7f6d35c64d5b842e05239842f66cd884e1a7d7afc99eafeb88c0f43b7c804f3967f94af719b4edfa21315448f31da729dffbd711572baa78a6b682448d96d51ecdceb45b73ea6c827f177",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 3540,
        "wires": [
            [
                "70fca0387ce63b4f"
            ]
        ]
    },
    {
        "id": "c45cf15dec2ccee0",
        "type": "http request",
        "z": "f4d873b0b812eae0",
        "g": "770198485702d3f6",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://strcmsv4:1337/api/orders{{{queryString}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 3600,
        "wires": [
            [
                "ddf3e6b20ba8f18e"
            ]
        ]
    },
    {
        "id": "70fca0387ce63b4f",
        "type": "function",
        "z": "f4d873b0b812eae0",
        "g": "770198485702d3f6",
        "name": "set url query string",
        "func": "\nmsg.queryString = \"?populate=*\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 3600,
        "wires": [
            [
                "c45cf15dec2ccee0"
            ]
        ]
    },
    {
        "id": "85515b30229bc9f1",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "770198485702d3f6",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 3640,
        "wires": []
    },
    {
        "id": "ddf3e6b20ba8f18e",
        "type": "json",
        "z": "f4d873b0b812eae0",
        "g": "770198485702d3f6",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 630,
        "y": 3640,
        "wires": [
            [
                "85515b30229bc9f1",
                "4ff675905985ef5f"
            ]
        ]
    },
    {
        "id": "d75614fdea85dfe6",
        "type": "postgresql",
        "z": "f4d873b0b812eae0",
        "g": "770198485702d3f6",
        "name": "insert",
        "query": "insert into orders (\n    order_id,\n    order_number,\n    status_id,\n    product_id,\n\tamount,\n    owner_id,\n\tcourier_id,\n\tcreatedat,\n\tupdatedat,\n\tpublishedat\n) \nvalues (\n   {{{ msg.payload.order_id}}},\n   '{{{ msg.payload.order_number}}}',\n   {{{ msg.payload.status_id}}},\n   {{{ msg.payload.product_id}}},\n   {{{\tmsg.payload.amount}}},\n\t{{{msg.payload.owner_id}}},\n    {{{msg.payload.courier_id}}},\n\t'{{{msg.payload.createdat}}}',\n\t'{{{msg.payload.updatedat}}}',\n\t'{{{msg.payload.publishedat}}}'\n);\n\ncommit;",
        "postgreSQLConfig": "3c6b3935308742a0",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 950,
        "y": 3680,
        "wires": [
            []
        ]
    },
    {
        "id": "4ff675905985ef5f",
        "type": "function",
        "z": "f4d873b0b812eae0",
        "g": "770198485702d3f6",
        "name": "serialize orders",
        "func": "msg.payload.data.forEach(order => {\n    let orderRecord = {\n        order_id: order.id,\n        order_number: order.attributes.orderNumber,\n        status_id: order.attributes.status.data.id,\n        product_id: order.attributes.product.data.id,\n        amount: order.attributes.amount,\n        owner_id: order.attributes.owner.data.id,\n        courier_id: order.attributes.courier.data.id,\n        createdat: order.attributes.createdAt,\n        updatedat: order.attributes.updatedAt,\n        publishedat: order.attributes.publishedAt\n    };\n    msg.payload = orderRecord;\n    node.send(msg);\n});\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 3680,
        "wires": [
            [
                "d001464022ffab24",
                "d75614fdea85dfe6"
            ]
        ]
    },
    {
        "id": "d001464022ffab24",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "770198485702d3f6",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 3740,
        "wires": []
    },
    {
        "id": "668a4beab3021c0f",
        "type": "comment",
        "z": "f4d873b0b812eae0",
        "g": "770198485702d3f6",
        "name": "fill orders table with existing records from CMS",
        "info": "",
        "x": 310,
        "y": 3480,
        "wires": []
    },
    {
        "id": "bba6d52e29261bc3",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "b138b301e43db445",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newOrderRec",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 2300,
        "wires": [
            [
                "e9c894830395f1b2"
            ]
        ]
    },
    {
        "id": "2611e4ad935990f2",
        "type": "function",
        "z": "f4d873b0b812eae0",
        "g": "b138b301e43db445",
        "name": "prepare order record",
        "func": "\nlet orderRecord = {\n    order_id: msg.payload.data.id,\n    order_number: msg.newOrderRec.orderNumber,\n    status_id: msg.newOrderRec.status.id,\n    product_id: msg.newOrderRec.product.id,\n    amount: msg.newOrderRec.amount,\n    owner_id: msg.userToken.id,\n    courier_id: msg.newOrderRec.courier.user.id,\n    createdat: msg.payload.data.attributes.createdAt,\n    updatedat: msg.payload.data.attributes.updatedAt,\n    publishedat: msg.payload.data.attributes.publishedAt\n};\n\nmsg.payload = orderRecord;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 2260,
        "wires": [
            [
                "b2e4b9f70fd39e1b"
            ]
        ]
    },
    {
        "id": "b2e4b9f70fd39e1b",
        "type": "postgresql",
        "z": "f4d873b0b812eae0",
        "g": "b138b301e43db445",
        "name": "insert new order",
        "query": "insert into orders (\n    order_id,\n    order_number,\n    status_id,\n    product_id,\n\tamount,\n    owner_id,\n\tcourier_id,\n\tcreatedat,\n\tupdatedat,\n\tpublishedat\n) \nvalues (\n   {{{ msg.payload.order_id}}},\n   '{{{ msg.payload.order_number}}}',\n   {{{ msg.payload.status_id}}},\n   {{{ msg.payload.product_id}}},\n   {{{\tmsg.payload.amount}}},\n   {{{msg.payload.owner_id}}},\n\t{{{msg.payload.courier_id}}},\n\t'{{{msg.payload.createdat}}}',\n\t'{{{msg.payload.updatedat}}}',\n\t'{{{msg.payload.publishedat}}}'\n);\n\ncommit;",
        "postgreSQLConfig": "3c6b3935308742a0",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1840,
        "y": 2260,
        "wires": [
            [
                "499f6b3b9af6007e"
            ]
        ]
    },
    {
        "id": "499f6b3b9af6007e",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "b138b301e43db445",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2040,
        "y": 2260,
        "wires": []
    },
    {
        "id": "5accdb55d3f80d0f",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "a29859a2bed78358",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newOrderRec",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 2700,
        "wires": [
            [
                "08512de010ac1e22"
            ]
        ]
    },
    {
        "id": "aae0afe5d2db34c3",
        "type": "function",
        "z": "f4d873b0b812eae0",
        "g": "a29859a2bed78358",
        "name": "prepare order record",
        "func": "\nlet orderRecord = {\n    order_id: msg.payload.data.id,\n    order_number: msg.newOrderRec.orderNumber,\n    status_id: msg.newOrderRec.status.id,\n    product_id: msg.newOrderRec.product.id,\n    amount: msg.newOrderRec.amount,\n    owner_id: msg.userToken.id,\n    courier_id: msg.newOrderRec.courier.user.id,\n    createdat: msg.payload.data.attributes.createdAt,\n    updatedat: msg.payload.data.attributes.updatedAt,\n    publishedat: msg.payload.data.attributes.publishedAt\n};\n\nmsg.payload = orderRecord;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 2620,
        "wires": [
            [
                "40ef1f779b5acd1c"
            ]
        ]
    },
    {
        "id": "40ef1f779b5acd1c",
        "type": "postgresql",
        "z": "f4d873b0b812eae0",
        "g": "a29859a2bed78358",
        "name": "update order",
        "query": "update orders\nset\n    order_number = '{{{ msg.payload.order_number}}}',\n    status_id = {{{ msg.payload.status_id}}},\n    product_id = {{{ msg.payload.product_id}}},\n\tamount = {{{msg.payload.amount}}},\n\towner_id = {{{msg.payload.owner_id}}},\n\tcourier_id = {{{msg.payload.courier_id}}},\n\tcreatedat = '{{{msg.payload.createdat}}}',\n\tupdatedat = '{{{msg.payload.updatedat}}}',\n\tpublishedat = '{{{msg.payload.publishedat}}}'\nwhere\n    order_id = {{{ msg.payload.order_id}}}\n\ncommit;",
        "postgreSQLConfig": "3c6b3935308742a0",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1910,
        "y": 2620,
        "wires": [
            [
                "379128977e12cac7"
            ]
        ]
    },
    {
        "id": "379128977e12cac7",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "a29859a2bed78358",
        "name": "debug 38",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2100,
        "y": 2620,
        "wires": []
    },
    {
        "id": "4bca0616f6187b3c",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "c77d9d86f5902982",
        "name": "add bearer token v4",
        "rules": [
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MywiaWF0IjoxNzI4MTU2MzI5LCJleHAiOjE3MzA3NDgzMjl9.HYceiuslgnpQyaEe0OOuX3IunNT-B0w8-B3JwcTT5IA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 3960,
        "wires": [
            [
                "cb0ab6f627f1ddbd"
            ]
        ]
    },
    {
        "id": "cdb8c1f8c904db2f",
        "type": "inject",
        "z": "f4d873b0b812eae0",
        "g": "c77d9d86f5902982",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 3960,
        "wires": [
            []
        ]
    },
    {
        "id": "cb0ab6f627f1ddbd",
        "type": "function",
        "z": "f4d873b0b812eae0",
        "g": "c77d9d86f5902982",
        "name": "decode jwt token",
        "func": "\nlet token = msg.headers.Authorization.split(\" \")[1];\n\nmsg.payload = jwtDecodePack.jwtDecode(token);\n\n//msg.token = token;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "jwtDecodePack",
                "module": "jwt-decode"
            }
        ],
        "x": 490,
        "y": 4000,
        "wires": [
            [
                "fb8a058eb6f32afa"
            ]
        ]
    },
    {
        "id": "fb8a058eb6f32afa",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "c77d9d86f5902982",
        "name": "debug 40",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 4000,
        "wires": []
    },
    {
        "id": "9dee953bc26f8607",
        "type": "comment",
        "z": "f4d873b0b812eae0",
        "g": "c77d9d86f5902982",
        "name": "JWT token decode example",
        "info": "",
        "x": 280,
        "y": 3900,
        "wires": []
    },
    {
        "id": "719b64a0945a4e67",
        "type": "comment",
        "z": "f4d873b0b812eae0",
        "g": "b99abc8b8a150111",
        "name": "good old Hello World",
        "info": "",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "4170909f05e163e1",
        "type": "function",
        "z": "f4d873b0b812eae0",
        "g": "85d9c313f2c2b597",
        "name": "decode jwt token",
        "func": "let token = msg.headers.authorization.split(\" \")[1];\n\nmsg.userToken = jwtDecodePack.jwtDecode(token);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "jwtDecodePack",
                "module": "jwt-decode"
            }
        ],
        "x": 430,
        "y": 1600,
        "wires": [
            [
                "f4505b82633168d5",
                "996406ae3945948d"
            ]
        ]
    },
    {
        "id": "e1970c372c418e9a",
        "type": "function",
        "z": "f4d873b0b812eae0",
        "g": "85d9c313f2c2b597",
        "name": "filter output by owner id",
        "func": "let userId = msg.userToken.id\n\n// admin has userId == 1 and he has access to all orders\nif (userId !== 1){\n    // filter orders by ownerId for all other users\n    if (msg.payload.data !== undefined && msg.payload.data !== null){\n    msg.payload.data = msg.payload.data.filter(\n        order => {\n            \n            if (order.attributes.owner !== undefined){\n                let ownerId = order.attributes.owner.data.id;\n                return ownerId === userId;\n            } else {\n                return false;\n            }            \n        }\n    )\n}\n\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1640,
        "wires": [
            [
                "5da93b7a66402b95",
                "37610f9155cbe4ce"
            ]
        ]
    },
    {
        "id": "32739983a174178d",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "85d9c313f2c2b597",
        "name": "debug 41",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1580,
        "wires": []
    },
    {
        "id": "e9c894830395f1b2",
        "type": "function",
        "z": "f4d873b0b812eae0",
        "g": "b138b301e43db445",
        "name": "decode jwt token",
        "func": "let token = msg.headers.authorization.split(\" \")[1];\n\nmsg.userToken = jwtDecodePack.jwtDecode(token);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "jwtDecodePack",
                "module": "jwt-decode"
            }
        ],
        "x": 590,
        "y": 2340,
        "wires": [
            [
                "abab57ca978d3268"
            ]
        ]
    },
    {
        "id": "b762a07cf0f3a51f",
        "type": "postgresql",
        "z": "f4d873b0b812eae0",
        "g": "791792950f41a2f5",
        "name": "get top 5 trending products of all time",
        "query": "select product_id, count(product_id) as sales, sum(amount) as value from orders\ngroup by product_id\norder by sales desc\nlimit 5;",
        "postgreSQLConfig": "3c6b3935308742a0",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 850,
        "y": 4160,
        "wires": [
            [
                "24c656fd75613096"
            ]
        ]
    },
    {
        "id": "989f8bc0e9aabd2b",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "791792950f41a2f5",
        "name": "debug 42",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 4340,
        "wires": []
    },
    {
        "id": "b2847e5597719393",
        "type": "http in",
        "z": "f4d873b0b812eae0",
        "g": "791792950f41a2f5",
        "name": "",
        "url": "/api/v0/stats/trending-products",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 4160,
        "wires": [
            [
                "6d8eebea5de7ec7f"
            ]
        ]
    },
    {
        "id": "70ab926af706c3a6",
        "type": "http response",
        "z": "f4d873b0b812eae0",
        "g": "791792950f41a2f5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1410,
        "y": 4220,
        "wires": []
    },
    {
        "id": "fbec2cee5821fb86",
        "type": "function",
        "z": "f4d873b0b812eae0",
        "g": "791792950f41a2f5",
        "name": "serialize product requests",
        "func": "let topProducts = msg.payload;\nlet totalProducts = msg.payload.length;\n\ntopProducts.forEach(\n    (product, idx) => {\n\n        msg.productId = product.product_id;\n        msg.product = product;\n        msg.index = idx;\n        msg.totalProducts = totalProducts;\n        msg.payload = {}\n\n        node.send(msg);\n    }\n);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 4300,
        "wires": [
            [
                "989f8bc0e9aabd2b",
                "db971e2c079b8132"
            ]
        ]
    },
    {
        "id": "87b58bd6f20f616d",
        "type": "comment",
        "z": "f4d873b0b812eae0",
        "g": "791792950f41a2f5",
        "name": "Get top 5 trending products",
        "info": "",
        "x": 150,
        "y": 4120,
        "wires": []
    },
    {
        "id": "08512de010ac1e22",
        "type": "function",
        "z": "f4d873b0b812eae0",
        "g": "a29859a2bed78358",
        "name": "decode jwt token",
        "func": "let token = msg.headers.authorization.split(\" \")[1];\n\nmsg.userToken = jwtDecodePack.jwtDecode(token);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "jwtDecodePack",
                "module": "jwt-decode"
            }
        ],
        "x": 610,
        "y": 2740,
        "wires": [
            [
                "8c8d7f95ff43a34a",
                "a6b75dca055de4b3"
            ]
        ]
    },
    {
        "id": "abab57ca978d3268",
        "type": "function",
        "z": "f4d873b0b812eae0",
        "g": "b138b301e43db445",
        "name": "add owner id",
        "func": "msg.payload.owner = {};\nmsg.payload.owner.id = msg.userToken.id;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 2380,
        "wires": [
            [
                "4f29c3e47cec1d39",
                "d5b2929ef780a004"
            ]
        ]
    },
    {
        "id": "6d8eebea5de7ec7f",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "791792950f41a2f5",
        "name": "save original request in msg envelope",
        "rules": [
            {
                "t": "set",
                "p": "requestId",
                "pt": "msg",
                "to": "_msgid",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "original_req",
                "pt": "msg",
                "to": "req",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.authorization",
                "pt": "msg",
                "to": "req.headers.authorization",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 4160,
        "wires": [
            [
                "b762a07cf0f3a51f"
            ]
        ]
    },
    {
        "id": "0e8d06b159344be1",
        "type": "config",
        "z": "f4d873b0b812eae0",
        "g": "791792950f41a2f5",
        "name": "init aggregation dict",
        "properties": [
            {
                "p": "trendintProductRequests",
                "pt": "flow",
                "to": "{}",
                "tot": "json"
            }
        ],
        "active": true,
        "x": 470,
        "y": 4120,
        "wires": []
    },
    {
        "id": "24c656fd75613096",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "791792950f41a2f5",
        "name": "save top5 products aggregate",
        "rules": [
            {
                "t": "set",
                "p": "trendintProductRequests[msg.requestId]",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 4220,
        "wires": [
            [
                "f141e28b443bb5cb"
            ]
        ]
    },
    {
        "id": "f141e28b443bb5cb",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "791792950f41a2f5",
        "name": "add bearer token v4",
        "rules": [
            {
                "t": "set",
                "p": "headers.authorization",
                "pt": "msg",
                "to": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MywiaWF0IjoxNzI4MTU2MzI5LCJleHAiOjE3MzA3NDgzMjl9.HYceiuslgnpQyaEe0OOuX3IunNT-B0w8-B3JwcTT5IA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 4260,
        "wires": [
            [
                "fbec2cee5821fb86"
            ]
        ]
    },
    {
        "id": "db971e2c079b8132",
        "type": "http request",
        "z": "f4d873b0b812eae0",
        "g": "791792950f41a2f5",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://strcmsv4:1337/api/products/{{{productId}}}?populate=*",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1110,
        "y": 4220,
        "wires": [
            [
                "bc41d946cc617c3d"
            ]
        ]
    },
    {
        "id": "a1be40cf0200746e",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "791792950f41a2f5",
        "name": "debug 43",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 4460,
        "wires": []
    },
    {
        "id": "bc41d946cc617c3d",
        "type": "json",
        "z": "f4d873b0b812eae0",
        "g": "791792950f41a2f5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1110,
        "y": 4260,
        "wires": [
            [
                "152349ba5b9c7cfd",
                "7c258d9c6ea6ad8c"
            ]
        ]
    },
    {
        "id": "81daa8683479d8bd",
        "type": "function",
        "z": "f4d873b0b812eae0",
        "g": "791792950f41a2f5",
        "name": "aggregate product details",
        "func": "msg.requestAggregate.forEach(\n    (aggregate) => {\n        if (msg.payload.data.id == aggregate.product_id)\n            aggregate.product = msg.payload;\n    }\n)\n\nlet aggregateReady = true;\nmsg.requestAggregate.forEach(\n    (agg) => {\n        if (agg.product === undefined){\n            aggregateReady = false;\n        }\n    }\n);\n\nif (aggregateReady){\n\n    msg.payload = msg.requestAggregate;\n    node.send(msg);\n\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 4340,
        "wires": [
            [
                "a392d03c45d02c26",
                "5353fcb42534f11a"
            ]
        ]
    },
    {
        "id": "a392d03c45d02c26",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "791792950f41a2f5",
        "name": "restore original request from msg envelope",
        "rules": [
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "req",
                "pt": "msg",
                "to": "original_req",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "contentType",
                "pt": "msg",
                "to": "headers[\"content-type\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 4380,
        "wires": [
            [
                "c98321dd4bc8a5cf"
            ]
        ]
    },
    {
        "id": "5353fcb42534f11a",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "791792950f41a2f5",
        "name": "debug 44",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 4160,
        "wires": []
    },
    {
        "id": "152349ba5b9c7cfd",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "791792950f41a2f5",
        "name": "debug 45",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 4120,
        "wires": []
    },
    {
        "id": "c98321dd4bc8a5cf",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "791792950f41a2f5",
        "name": "clear top5 products aggregate",
        "rules": [
            {
                "t": "delete",
                "p": "trendintProductRequests[msg.requestId]",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 4420,
        "wires": [
            [
                "a1be40cf0200746e",
                "70ab926af706c3a6"
            ]
        ]
    },
    {
        "id": "7c258d9c6ea6ad8c",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "791792950f41a2f5",
        "name": "load products aggregate",
        "rules": [
            {
                "t": "set",
                "p": "requestAggregate",
                "pt": "msg",
                "to": "trendintProductRequests[msg.requestId]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 4300,
        "wires": [
            [
                "81daa8683479d8bd"
            ]
        ]
    },
    {
        "id": "560f13629071b47d",
        "type": "postgresql",
        "z": "f4d873b0b812eae0",
        "g": "9fde22277546daea",
        "name": "get top 5 trending products by value",
        "query": "select product_id, count(product_id) as sales, sum(amount) as value from orders\ngroup by product_id\norder by value desc\nlimit 5;",
        "postgreSQLConfig": "3c6b3935308742a0",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 860,
        "y": 4640,
        "wires": [
            [
                "40c0dbacc8143961"
            ]
        ]
    },
    {
        "id": "7864ae143fde24b0",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "9fde22277546daea",
        "name": "debug 46",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 4820,
        "wires": []
    },
    {
        "id": "109b2146f6963611",
        "type": "http in",
        "z": "f4d873b0b812eae0",
        "g": "9fde22277546daea",
        "name": "",
        "url": "/api/v0/stats/trending-products-by-value",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 4640,
        "wires": [
            [
                "8954893af7013448"
            ]
        ]
    },
    {
        "id": "f4e030a82d3b7b43",
        "type": "http response",
        "z": "f4d873b0b812eae0",
        "g": "9fde22277546daea",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1430,
        "y": 4700,
        "wires": []
    },
    {
        "id": "1cf986c8638bc01c",
        "type": "function",
        "z": "f4d873b0b812eae0",
        "g": "9fde22277546daea",
        "name": "serialize product requests",
        "func": "let topProducts = msg.payload;\nlet totalProducts = msg.payload.length;\n\ntopProducts.forEach(\n    (product, idx) => {\n\n        msg.productId = product.product_id;\n        msg.product = product;\n        msg.index = idx;\n        msg.totalProducts = totalProducts;\n        msg.payload = {}\n\n        node.send(msg);\n    }\n);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 4780,
        "wires": [
            [
                "7864ae143fde24b0",
                "55e53dce00a095c3"
            ]
        ]
    },
    {
        "id": "2e57bed0155b9c85",
        "type": "comment",
        "z": "f4d873b0b812eae0",
        "g": "9fde22277546daea",
        "name": "Get top 5 trending products by value",
        "info": "",
        "x": 200,
        "y": 4600,
        "wires": []
    },
    {
        "id": "8954893af7013448",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "9fde22277546daea",
        "name": "save original request in msg envelope",
        "rules": [
            {
                "t": "set",
                "p": "requestId",
                "pt": "msg",
                "to": "_msgid",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "original_req",
                "pt": "msg",
                "to": "req",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.authorization",
                "pt": "msg",
                "to": "req.headers.authorization",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 4640,
        "wires": [
            [
                "560f13629071b47d"
            ]
        ]
    },
    {
        "id": "92e00a0e909245dc",
        "type": "config",
        "z": "f4d873b0b812eae0",
        "g": "9fde22277546daea",
        "name": "init aggregation dict",
        "properties": [
            {
                "p": "trendintProductRequests",
                "pt": "flow",
                "to": "{}",
                "tot": "json"
            }
        ],
        "active": true,
        "x": 490,
        "y": 4600,
        "wires": []
    },
    {
        "id": "40c0dbacc8143961",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "9fde22277546daea",
        "name": "save top5 products aggregate",
        "rules": [
            {
                "t": "set",
                "p": "trendintProductRequests[msg.requestId]",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 4700,
        "wires": [
            [
                "bb87ec2e3eb7c484"
            ]
        ]
    },
    {
        "id": "bb87ec2e3eb7c484",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "9fde22277546daea",
        "name": "add bearer token v4",
        "rules": [
            {
                "t": "set",
                "p": "headers.authorization",
                "pt": "msg",
                "to": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MywiaWF0IjoxNzI4MTU2MzI5LCJleHAiOjE3MzA3NDgzMjl9.HYceiuslgnpQyaEe0OOuX3IunNT-B0w8-B3JwcTT5IA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 4740,
        "wires": [
            [
                "1cf986c8638bc01c"
            ]
        ]
    },
    {
        "id": "55e53dce00a095c3",
        "type": "http request",
        "z": "f4d873b0b812eae0",
        "g": "9fde22277546daea",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://strcmsv4:1337/api/products/{{{productId}}}?populate=*",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1130,
        "y": 4700,
        "wires": [
            [
                "e428d2fed69181fd"
            ]
        ]
    },
    {
        "id": "b4c648053472688d",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "9fde22277546daea",
        "name": "debug 47",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 4940,
        "wires": []
    },
    {
        "id": "e428d2fed69181fd",
        "type": "json",
        "z": "f4d873b0b812eae0",
        "g": "9fde22277546daea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1130,
        "y": 4740,
        "wires": [
            [
                "447ddc37213b7348",
                "466e77fbd6a0b6c0"
            ]
        ]
    },
    {
        "id": "20dc12b3b2816907",
        "type": "function",
        "z": "f4d873b0b812eae0",
        "g": "9fde22277546daea",
        "name": "aggregate product details",
        "func": "msg.requestAggregate.forEach(\n    (aggregate) => {\n        if (msg.payload.data.id == aggregate.product_id)\n            aggregate.product = msg.payload;\n    }\n)\n\nlet aggregateReady = true;\nmsg.requestAggregate.forEach(\n    (agg) => {\n        if (agg.product === undefined){\n            aggregateReady = false;\n        }\n    }\n);\n\nif (aggregateReady){\n\n    msg.payload = msg.requestAggregate;\n    node.send(msg);\n\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 4820,
        "wires": [
            [
                "fb472ed44da93ddf",
                "1a1ba2d11cb8f522"
            ]
        ]
    },
    {
        "id": "fb472ed44da93ddf",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "9fde22277546daea",
        "name": "restore original request from msg envelope",
        "rules": [
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "req",
                "pt": "msg",
                "to": "original_req",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "contentType",
                "pt": "msg",
                "to": "headers[\"content-type\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 4860,
        "wires": [
            [
                "10c026e2378608ae"
            ]
        ]
    },
    {
        "id": "1a1ba2d11cb8f522",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "9fde22277546daea",
        "name": "debug 48",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 4640,
        "wires": []
    },
    {
        "id": "447ddc37213b7348",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "9fde22277546daea",
        "name": "debug 49",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 4600,
        "wires": []
    },
    {
        "id": "10c026e2378608ae",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "9fde22277546daea",
        "name": "clear top5 products aggregate",
        "rules": [
            {
                "t": "delete",
                "p": "trendintProductRequests[msg.requestId]",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 4900,
        "wires": [
            [
                "b4c648053472688d",
                "f4e030a82d3b7b43"
            ]
        ]
    },
    {
        "id": "466e77fbd6a0b6c0",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "9fde22277546daea",
        "name": "load products aggregate",
        "rules": [
            {
                "t": "set",
                "p": "requestAggregate",
                "pt": "msg",
                "to": "trendintProductRequests[msg.requestId]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 4780,
        "wires": [
            [
                "20dc12b3b2816907"
            ]
        ]
    },
    {
        "id": "9d53bfeeda301696",
        "type": "postgresql",
        "z": "f4d873b0b812eae0",
        "g": "c4677d21e66c9306",
        "name": "get top 5 trending products by value",
        "query": "select owner_id as agent_id, count(owner_id) as sales, sum(amount) as value from orders\ngroup by owner_id \norder by value desc\nlimit 5;",
        "postgreSQLConfig": "3c6b3935308742a0",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 860,
        "y": 5100,
        "wires": [
            [
                "4f23499b6067107e"
            ]
        ]
    },
    {
        "id": "65c509c699bcf721",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "c4677d21e66c9306",
        "name": "debug 50",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 5280,
        "wires": []
    },
    {
        "id": "c5bc2fd77e2d4db8",
        "type": "http in",
        "z": "f4d873b0b812eae0",
        "g": "c4677d21e66c9306",
        "name": "",
        "url": "/api/v0/stats/best-agents-by-value",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 5100,
        "wires": [
            [
                "59b8cab82caa3d1d"
            ]
        ]
    },
    {
        "id": "498dcb18809c0925",
        "type": "http response",
        "z": "f4d873b0b812eae0",
        "g": "c4677d21e66c9306",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1430,
        "y": 5160,
        "wires": []
    },
    {
        "id": "62df4f69d275ba2b",
        "type": "function",
        "z": "f4d873b0b812eae0",
        "g": "c4677d21e66c9306",
        "name": "serialize product requests",
        "func": "let topAgents = msg.payload;\nlet totalAgents = topAgents.length;\n\ntopAgents.forEach(\n    (agent, idx) => {\n\n        msg.agentId = agent.agent_id;\n        msg.agent = agent;\n        msg.index = idx;\n        msg.totalAgents = totalAgents;\n        msg.payload = {}\n\n        node.send(msg);\n    }\n);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 5240,
        "wires": [
            [
                "65c509c699bcf721",
                "a4e79d404ff9387f"
            ]
        ]
    },
    {
        "id": "1b5777a4f71d0df2",
        "type": "comment",
        "z": "f4d873b0b812eae0",
        "g": "c4677d21e66c9306",
        "name": "Get top 5 best agents by value",
        "info": "",
        "x": 180,
        "y": 5060,
        "wires": []
    },
    {
        "id": "59b8cab82caa3d1d",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "c4677d21e66c9306",
        "name": "save original request in msg envelope",
        "rules": [
            {
                "t": "set",
                "p": "requestId",
                "pt": "msg",
                "to": "_msgid",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "original_req",
                "pt": "msg",
                "to": "req",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.authorization",
                "pt": "msg",
                "to": "req.headers.authorization",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 5100,
        "wires": [
            [
                "9d53bfeeda301696"
            ]
        ]
    },
    {
        "id": "4f656690db03992b",
        "type": "config",
        "z": "f4d873b0b812eae0",
        "g": "c4677d21e66c9306",
        "name": "init aggregation dict",
        "properties": [
            {
                "p": "trendintProductRequests",
                "pt": "flow",
                "to": "{}",
                "tot": "json"
            }
        ],
        "active": true,
        "x": 490,
        "y": 5060,
        "wires": []
    },
    {
        "id": "4f23499b6067107e",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "c4677d21e66c9306",
        "name": "save top5 agents aggregate",
        "rules": [
            {
                "t": "set",
                "p": "bestAgentsRequests[msg.requestId]",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 5160,
        "wires": [
            [
                "f025d839ff7f765c"
            ]
        ]
    },
    {
        "id": "f025d839ff7f765c",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "c4677d21e66c9306",
        "name": "add bearer token v4",
        "rules": [
            {
                "t": "set",
                "p": "headers.authorization",
                "pt": "msg",
                "to": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MywiaWF0IjoxNzI4MTU2MzI5LCJleHAiOjE3MzA3NDgzMjl9.HYceiuslgnpQyaEe0OOuX3IunNT-B0w8-B3JwcTT5IA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 5200,
        "wires": [
            [
                "62df4f69d275ba2b"
            ]
        ]
    },
    {
        "id": "a4e79d404ff9387f",
        "type": "http request",
        "z": "f4d873b0b812eae0",
        "g": "c4677d21e66c9306",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://strcmsv4:1337/api/users/{{{agentId}}}?populate=*",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1130,
        "y": 5160,
        "wires": [
            [
                "97f105e5ccc0f36d"
            ]
        ]
    },
    {
        "id": "282bbb13d75cbbc1",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "c4677d21e66c9306",
        "name": "debug 51",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 5400,
        "wires": []
    },
    {
        "id": "97f105e5ccc0f36d",
        "type": "json",
        "z": "f4d873b0b812eae0",
        "g": "c4677d21e66c9306",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1130,
        "y": 5200,
        "wires": [
            [
                "d15a5a03066c8cc2",
                "97b6d1d289bab0f8"
            ]
        ]
    },
    {
        "id": "ba6e8e8a63020a41",
        "type": "function",
        "z": "f4d873b0b812eae0",
        "g": "c4677d21e66c9306",
        "name": "aggregate product details",
        "func": "msg.requestAggregate.forEach(\n    (aggregate) => {\n        if (msg.payload.id == aggregate.agent_id)\n            aggregate.agent = msg.payload;\n    }\n)\n\nlet aggregateReady = true;\nmsg.requestAggregate.forEach(\n    (agg) => {\n        if (agg.agent === undefined){\n            aggregateReady = false;\n        }\n    }\n);\n\nif (aggregateReady){\n\n    msg.payload = msg.requestAggregate;\n    node.send(msg);\n\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 5280,
        "wires": [
            [
                "5e4d228d8725e136",
                "cc389747e6362254"
            ]
        ]
    },
    {
        "id": "5e4d228d8725e136",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "c4677d21e66c9306",
        "name": "restore original request from msg envelope",
        "rules": [
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "req",
                "pt": "msg",
                "to": "original_req",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "contentType",
                "pt": "msg",
                "to": "headers[\"content-type\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 5320,
        "wires": [
            [
                "b7cb983250eab1fc"
            ]
        ]
    },
    {
        "id": "cc389747e6362254",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "c4677d21e66c9306",
        "name": "debug 52",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 5100,
        "wires": []
    },
    {
        "id": "d15a5a03066c8cc2",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "c4677d21e66c9306",
        "name": "debug 53",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 5060,
        "wires": []
    },
    {
        "id": "b7cb983250eab1fc",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "c4677d21e66c9306",
        "name": "clear top5 products aggregate",
        "rules": [
            {
                "t": "delete",
                "p": "bestAgentsRequests[msg.requestId]",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 5360,
        "wires": [
            [
                "282bbb13d75cbbc1",
                "498dcb18809c0925"
            ]
        ]
    },
    {
        "id": "97b6d1d289bab0f8",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "c4677d21e66c9306",
        "name": "load agents aggregate",
        "rules": [
            {
                "t": "set",
                "p": "requestAggregate",
                "pt": "msg",
                "to": "bestAgentsRequests[msg.requestId]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 5240,
        "wires": [
            [
                "ba6e8e8a63020a41"
            ]
        ]
    },
    {
        "id": "683165cc9e70a3fa",
        "type": "postgresql",
        "z": "f4d873b0b812eae0",
        "g": "9aa2b7aadce40c59",
        "name": "get top 5 trending products by value",
        "query": "select owner_id as agent_id, count(owner_id) as sales, sum(amount) as value from orders\ngroup by owner_id \norder by sales desc\nlimit 5;",
        "postgreSQLConfig": "3c6b3935308742a0",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 900,
        "y": 5600,
        "wires": [
            [
                "8ec547db6f309913"
            ]
        ]
    },
    {
        "id": "964d2f3da6e8cbe3",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "9aa2b7aadce40c59",
        "name": "debug 54",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 5780,
        "wires": []
    },
    {
        "id": "67d5ebb335e81652",
        "type": "http in",
        "z": "f4d873b0b812eae0",
        "g": "9aa2b7aadce40c59",
        "name": "",
        "url": "/api/v0/stats/best-agents-by-sales-count",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 5600,
        "wires": [
            [
                "ccd8e941ad172389"
            ]
        ]
    },
    {
        "id": "e587be5ff722b301",
        "type": "http response",
        "z": "f4d873b0b812eae0",
        "g": "9aa2b7aadce40c59",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1470,
        "y": 5660,
        "wires": []
    },
    {
        "id": "319625a1916aa67f",
        "type": "function",
        "z": "f4d873b0b812eae0",
        "g": "9aa2b7aadce40c59",
        "name": "serialize product requests",
        "func": "let topAgents = msg.payload;\nlet totalAgents = topAgents.length;\n\ntopAgents.forEach(\n    (agent, idx) => {\n\n        msg.agentId = agent.agent_id;\n        msg.agent = agent;\n        msg.index = idx;\n        msg.totalAgents = totalAgents;\n        msg.payload = {}\n\n        node.send(msg);\n    }\n);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 5740,
        "wires": [
            [
                "964d2f3da6e8cbe3",
                "8ebae5ed1444f572"
            ]
        ]
    },
    {
        "id": "b1709131c4fc0a1e",
        "type": "comment",
        "z": "f4d873b0b812eae0",
        "g": "9aa2b7aadce40c59",
        "name": "Get top 5 greatest agents by sales count",
        "info": "",
        "x": 220,
        "y": 5560,
        "wires": []
    },
    {
        "id": "ccd8e941ad172389",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "9aa2b7aadce40c59",
        "name": "save original request in msg envelope",
        "rules": [
            {
                "t": "set",
                "p": "requestId",
                "pt": "msg",
                "to": "_msgid",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "original_req",
                "pt": "msg",
                "to": "req",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.authorization",
                "pt": "msg",
                "to": "req.headers.authorization",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 5600,
        "wires": [
            [
                "683165cc9e70a3fa"
            ]
        ]
    },
    {
        "id": "b589d75b14413cef",
        "type": "config",
        "z": "f4d873b0b812eae0",
        "g": "9aa2b7aadce40c59",
        "name": "init aggregation dict",
        "properties": [
            {
                "p": "trendintProductRequests",
                "pt": "flow",
                "to": "{}",
                "tot": "json"
            }
        ],
        "active": true,
        "x": 530,
        "y": 5560,
        "wires": []
    },
    {
        "id": "8ec547db6f309913",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "9aa2b7aadce40c59",
        "name": "save top5 agents aggregate",
        "rules": [
            {
                "t": "set",
                "p": "bestAgentsRequests[msg.requestId]",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 5660,
        "wires": [
            [
                "35407123777a81c9"
            ]
        ]
    },
    {
        "id": "35407123777a81c9",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "9aa2b7aadce40c59",
        "name": "add bearer token v4",
        "rules": [
            {
                "t": "set",
                "p": "headers.authorization",
                "pt": "msg",
                "to": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MywiaWF0IjoxNzI4MTU2MzI5LCJleHAiOjE3MzA3NDgzMjl9.HYceiuslgnpQyaEe0OOuX3IunNT-B0w8-B3JwcTT5IA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 5700,
        "wires": [
            [
                "319625a1916aa67f"
            ]
        ]
    },
    {
        "id": "8ebae5ed1444f572",
        "type": "http request",
        "z": "f4d873b0b812eae0",
        "g": "9aa2b7aadce40c59",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://strcmsv4:1337/api/users/{{{agentId}}}?populate=*",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1170,
        "y": 5660,
        "wires": [
            [
                "b4bd3fe235f11838"
            ]
        ]
    },
    {
        "id": "d4c26f156aa88694",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "9aa2b7aadce40c59",
        "name": "debug 55",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 5900,
        "wires": []
    },
    {
        "id": "b4bd3fe235f11838",
        "type": "json",
        "z": "f4d873b0b812eae0",
        "g": "9aa2b7aadce40c59",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1170,
        "y": 5700,
        "wires": [
            [
                "e1c22ade76d0fe6e",
                "caa599ba6801db3d"
            ]
        ]
    },
    {
        "id": "846bd42cdd9b48e5",
        "type": "function",
        "z": "f4d873b0b812eae0",
        "g": "9aa2b7aadce40c59",
        "name": "aggregate product details",
        "func": "msg.requestAggregate.forEach(\n    (aggregate) => {\n        if (msg.payload.id == aggregate.agent_id)\n            aggregate.agent = msg.payload;\n    }\n)\n\nlet aggregateReady = true;\nmsg.requestAggregate.forEach(\n    (agg) => {\n        if (agg.agent === undefined){\n            aggregateReady = false;\n        }\n    }\n);\n\nif (aggregateReady){\n\n    msg.payload = msg.requestAggregate;\n    node.send(msg);\n\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 5780,
        "wires": [
            [
                "4bcf0274651ca172",
                "cd522d732fda6fa3"
            ]
        ]
    },
    {
        "id": "4bcf0274651ca172",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "9aa2b7aadce40c59",
        "name": "restore original request from msg envelope",
        "rules": [
            {
                "t": "delete",
                "p": "req",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "req",
                "pt": "msg",
                "to": "original_req",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "contentType",
                "pt": "msg",
                "to": "headers[\"content-type\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 5820,
        "wires": [
            [
                "8e68a4af9fccf03c"
            ]
        ]
    },
    {
        "id": "cd522d732fda6fa3",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "9aa2b7aadce40c59",
        "name": "debug 56",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 5600,
        "wires": []
    },
    {
        "id": "e1c22ade76d0fe6e",
        "type": "debug",
        "z": "f4d873b0b812eae0",
        "g": "9aa2b7aadce40c59",
        "name": "debug 57",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 5560,
        "wires": []
    },
    {
        "id": "8e68a4af9fccf03c",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "9aa2b7aadce40c59",
        "name": "clear top5 products aggregate",
        "rules": [
            {
                "t": "delete",
                "p": "bestAgentsRequests[msg.requestId]",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 5860,
        "wires": [
            [
                "d4c26f156aa88694",
                "e587be5ff722b301"
            ]
        ]
    },
    {
        "id": "caa599ba6801db3d",
        "type": "change",
        "z": "f4d873b0b812eae0",
        "g": "9aa2b7aadce40c59",
        "name": "load agents aggregate",
        "rules": [
            {
                "t": "set",
                "p": "requestAggregate",
                "pt": "msg",
                "to": "bestAgentsRequests[msg.requestId]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 5740,
        "wires": [
            [
                "846bd42cdd9b48e5"
            ]
        ]
    }
]